body {
	background-color: #070d19;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

table {
	border-collapse: collapse;
}

td {
	width: 5px;
	height: 5px;
}

#pixel-art {
	display: flex;
	justify-content: center;
	align-items: center;
}