@font-face {
	font-family: Lexend; src: url('Lexend-Regular.ttf');
}

body {
	background-color: #070d19;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

table {
	border-collapse: collapse;
}

td {
	width: 5px;
	height: 5px;
}

img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

#pixel-art {
	display: flex;
	justify-content: center;
	align-items: center;
}

#top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #1c2331;
	color: DodgerBlue;
	font-family: Lexend;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#top-bar span {
	margin-right: 10px;
}